In [1]:
## import the necessary libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import pyodbc
from dotenv import dotenv_values
import os


#data visualization 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
## Data environment access
# Load environment variables from .env file into a dictionary
environment_variables=dotenv_values('.env')


# Get the values for the credentials you set in the '.env' 
database=environment_variables.get("DATABASE")
server=environment_variables.get("SERVER")
username=environment_variables.get("USERNAME")
password=environment_variables.get("PASSWORD")


connection_string= f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [3]:
# connect your data using pyodbc
connection=pyodbc.connect(connection_string)

### DATA UNDERSTANDING 
1. load in all the various dataset required for the analyse. Dataset is in various source platforms
2. check info for more information on each of the dataset and data type 
3. We will be concatenating the datasets and create one dataset source
4. check info with the new dataset 
5. assess the mean, std, percentile, count with describe
6. check for null values
7. Do an exploratory data analysis

### DEFINITION OF DATASET VARIABLE
| NAME              | DEFINITION
|:---:              |:---
| Company brand     | company's name
| Founded           | represents the year a company was started
| Headquaters       | the location of the business
| Sector            | the industry under which the companies are in 
| What it does      | overview of what the company does
| Founders          | the CEO or the person who started the company
| Investor          | a person who is investing into the company
| Amount            | the amount of funds received by the company 
| Stage             | the stage at which the company is in.

#### DATA LOADING AND OVERVIEW

In [4]:
query = "SELECT * FROM dbo.LP1_startup_funding2020"

data = pd.read_sql(query, connection)
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [5]:
#check for info 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [6]:
data['year'] = 2020
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10,year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,2020

In [7]:
query = "SELECT * FROM dbo.LP1_startup_funding2021"

data1 = pd.read_sql(query, connection)
data1.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [8]:
#check for info on data 1
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [9]:
data1['year'] = 2021
data1.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021

In [10]:
data2 = pd.read_csv(r"C:\Users\lenovo\Downloads\startup_funding2019.csv")
data2.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [11]:
# check for info data 2
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [12]:
data2['year'] = 2019
data2.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C,2019
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019

In [13]:
data3= pd.read_csv(r"C:\Users\lenovo\Downloads\startup_funding2018.csv")
data3.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [14]:
#check for info on data 3
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [15]:
data3['year'] = 2018
data3.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company,year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018

In [16]:

# Replace '₹', commas, '—', and "''" in 'Amount' column
data3['Amount'] = data3['Amount'].str.replace(',', '').str.replace('—', '').str.replace("''",'').replace('', np.nan)

# Conditionally apply multiplication only where '₹' is present
mask = data3['Amount'].str.contains('₹', na=False)
data3.loc[mask, 'Amount'] = data3.loc[mask, 'Amount'].str.replace('₹', '').astype(float) * 0.0146

#### CONCATENATE THE DATA INTO ONE DATAFRAME
 The column names of the datasets above are different but with the same data.
 Create a function that will rename the columns and restructure the data.

In [17]:
def concat_dataframes(data,data1, data2, data3):
    """
    Concatenates four dataframes along the row axis.

    Parameters:
    data (pandas.DataFrame): The first dataframe to concatenate.
    data1 (pandas.DataFrame): The second dataframe to concatenate.
    data2 (pandas.DataFrame): The third dataframe to concatenate.
    data3 (pandas.DataFrame): The fourth dataframe to concatenate.

    Returns:
    pandas.DataFrame: The concatenated dataframe.
    """
    # Rename columns to make them consistent across dataframes
    df1 = data.rename(columns={'Company_Brand': 'company_brand', 'Founded': 'founded','HeadQuarter': 'headquarter','Sector': 'sector','What_it_does': 'about_company','Founders':'founders','Investor':'investor','Amount':'amount','Stage':'series', 'year' : 'year'})
    df2 = data1.rename(columns={'Company_Brand': 'company_brand', 'Founded': 'founded','HeadQuarter': 'headquarter','Sector': 'sector','What_it_does': 'about_company','Founders':'founders','Investor':'investor','Amount':'amount','Stage':'series','year' : 'year'})
    df3 = data2.rename(columns={'Company/Brand': 'company_brand', 'Founded': 'founded','HeadQuarter': 'headquarter','Sector': 'sector','What it does': 'about_company','Founders':'founders','Investor':'investor','Amount($)':'amount','Stage':'series','year' : 'year'})
    df4 = data3.rename(columns={'Company Name': 'company_brand','Location': 'headquarter','Industry': 'sector','About Company': 'about_company','Amount':'amount','Round/Series':'series','year' : 'year'})

    # Concatenate dataframes along the row axis
    result = pd.concat([df1, df2, df3,df4], axis=0)

    return result

In [18]:
dataset= concat_dataframes(data,data1,data2,data3)
dataset.head()

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,series,column10,year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,2020

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2879 entries, 0 to 525
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2879 non-null   object
 1   founded        2110 non-null   float64
 2   headquarter    2765 non-null   object
 3   sector         2861 non-null   object
 4   about_company  2879 non-null   object
 5   founders       2334 non-null   object
 6   investor       2253 non-null   object
 7   amount         2474 non-null   object
 8   series         1941 non-null   object
 9   column10       2 non-null      object
 10  year           2879 non-null   int64
dtypes: float64(1), int64(1), object(9)
memory usage: 269.9+ KB

In [20]:
dataset.shape

(2879, 11)

In [21]:
dataset.describe()

           founded         year
count  2110.000000  2879.000000
mean   2016.079621  2020.023619
std       4.368006     1.086974
min    1963.000000  2018.000000
25%    2015.000000  2020.000000
50%    2017.000000  2020.000000
75%    2019.000000  2021.000000
max    2021.000000  2021.000000

In [22]:
dataset.describe(include='all')

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,series,column10,year
count,2879,2110.000000,2765,2861,2879,2334,2253,2474,1941,2,2879.000000
unique,2214,NaN,172,873,2691,1980,1777,771,75,2,NaN
top,BharatPe,NaN,Bangalore,FinTech,Provides online learning classes,Byju Raveendran,Inflection Point Ventures,$Undisclosed,Seed,Pre-Seed,NaN
freq,10,NaN,764,173,5,7,36,73,606,1,NaN
mean,NaN,2016.079621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020.023619
std,NaN,4.368006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.086974
min,NaN,1963.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000
25%,NaN,2015.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020.000000
50%,NaN,2017.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020.000000
75%,NaN,2019.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000
max,NaN,2021.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000

In [23]:
dataset.isna().sum()

company_brand       0
founded           769
headquarter       114
sector             18
about_company       0
founders          545
investor          626
amount            405
series            938
column10         2877
year                0
dtype: int64

In [24]:
dataset.duplicated().sum()

23

In [25]:
dataset.nunique()

company_brand    2214
founded            34
headquarter       172
sector            873
about_company    2691
founders         1980
investor         1777
amount            771
series             75
column10            2
year                4
dtype: int64

OBSERVATION
###  Issues with the data
1. There is a discrepancy in the naming conventions between the columns in the 2018 and 2019 datasets compared to the 2020 and 2021 datasets.

2. The 2018 dataset exhibits some missing columns, contributing to an incomplete representation of the data.

3. Conversely, the 2020 dataset contains an additional column that appears to be extraneous and does not serve a meaningful purpose in our analysis.

### Course of Action:
##### 1. Missing Column Engineering for 2018:
---> We will address the absence of certain columns in the 2018 dataset by employing data engineering techniques to create and populate the missing columns, ensuring a comprehensive and consistent dataset.

##### 2. Column Name Standardization:
---> To establish uniformity and coherence across all datasets, we will embark on a column renaming process for the 2018 and 2019 datasets. This action aims to align the naming conventions with those observed in the 2020 and 2021 datasets, facilitating seamless data integration and analysis. 

#### 3. Extraneous Column Removal in 2020:
---> The redundant column identified in the 2020 dataset will be removed, streamlining the dataset and eliminating unnecessary elements that do not contribute to the overall analysis objectives.

These actions collectively enhance the integrity, consistency, and completeness of the dataset, paving the way for a more robust and coherent analytical process. ical process

BUSINESS QUESTIONS
1. Which industries/sectors have the largest funding?
2. Who are the top ten competitors with the largest funding?
3. Who are the top investors?(frequency)
4. Which year was funds allocated the most?
5. Which is the largest headquaters for startup business in India?
6. What is the average funds granted to startups?

BUSINESS QUESTIONS 
1. How does funding vary across different industry sectors in India?
2. How does funding vary with the loaction of the start-ups
3. What is the relationship between the amount of funding and the stage of the company?
4. How have funding trends evolved between 2018 and 2021?
5. What are the most attractive sectors for investors?
6. Does the location of the company influence its sector?

#### DATA PREPARATION AND CLEANING

In [26]:
pd.set_option("display.max_rows", None)
pd.set_option('display.max_colwidth', None)

In [27]:
dataset= dataset.reset_index(drop=True)

In [28]:
dataset.tail()

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,series,column10,year
2874,Udaan,NaN,"Bangalore, Karnataka, India","B2B, Business Development, Internet, Marketplace","Udaan is a B2B trade platform, designed specifically for small and medium businesses in India.",NaN,NaN,225000000,Series C,NaN,2018
2875,Happyeasygo Group,NaN,"Haryana, Haryana, India","Tourism, Travel",HappyEasyGo is an online travel domain.,NaN,NaN,NaN,Series A,NaN,2018
2876,Mombay,NaN,"Mumbai, Maharashtra, India","Food and Beverage, Food Delivery, Internet",Mombay is a unique opportunity for housewives to start household food business and avail everyone with their homemade healthy dishes.,NaN,NaN,7500,Seed,NaN,2018
2877,Droni Tech,NaN,"Mumbai, Maharashtra, India",Information Technology,Droni Tech manufacture UAVs and develop software to service a range of industry requirements.,NaN,NaN,511000.0,Seed,NaN,2018
2878,Netmeds,NaN,"Chennai, Tamil Nadu, India","Biotechnology, Health Care, Pharmaceutical",Welcome to India's most convenient pharmacy!,NaN,NaN,35000000,Series C,NaN,2018

In [29]:
#Drop the extreneous column 10
dataset.drop('column10', axis=1, inplace= True)

In [70]:
#create a list of the wrong entries
## Pharmaceuticals - index 1297, 1311 (this is duplicated) start from end to forward
## Online Media - index 2155 (this is duplicated) start from end to forward
## Computer Games - index 1153  ( this is duplicated ) start from end to forward , replace with none 
## Information Technology & Services - index 2231 
## Food & Beverages index 1296,1310     (this is duplicated) change sector and  HQ

In [71]:
def swap_row_cells(df, row_index, col1_index, col2_index):
    """
    Swaps the values in the given columns and row of a data array.

    Parameters:
    df (list): A 2D list representing the data array.
    row_index (int): The index of the first column.
    col1_index (int): The index of the second column.
    col2_index (int): The index of the row where the values are swapped.

    Returns:
    list: The modified data array with swapped values.
    """
    df.loc[row_index, [col1_index,col2_index]] = df.loc[row_index,[col2_index,col1_index]].values
    
    return dataset.head()

In [72]:
# correcting all the cells with wrong entries
#### row index 2155 
swap_row_cells(dataset, 2155, 'investor', 'amount')
swap_row_cells(dataset, 2155, 'founders', 'investor')
swap_row_cells(dataset, 2155, 'about_company', 'founders')
swap_row_cells(dataset, 2155, 'sector', 'about_company')
swap_row_cells(dataset, 2155, 'headquarter', 'sector')

#### row index 1312
swap_row_cells(dataset, 1312, 'amount', 'series')
swap_row_cells(dataset, 1312, 'investor', 'amount')
swap_row_cells(dataset, 1312,'founders', 'investor')
swap_row_cells(dataset, 1312,'about_company', 'founders')
swap_row_cells(dataset, 1312,'sector', 'about_company')

#### row index 1297
swap_row_cells(dataset,1297,'amount', 'series' )
swap_row_cells(dataset,1297,'investor', 'amount' )
swap_row_cells(dataset, 1297, 'founders', 'investor')
swap_row_cells(dataset, 1297, 'about_company', 'founders')
swap_row_cells(dataset, 1297, 'sector', 'about_company')
swap_row_cells(dataset,1297, 'headquarter', 'sector')

### row index 1311
swap_row_cells(dataset, 1311, 'amount', 'series')
swap_row_cells(dataset, 1311, 'investor', 'amount')
swap_row_cells(dataset, 1311, 'founders', 'investor')
swap_row_cells(dataset, 1311, 'about_company', 'founders')
swap_row_cells(dataset, 1311, 'sector', 'about_company')
swap_row_cells(dataset, 1311, 'headquarter', 'sector')

#### row index 1296
swap_row_cells(dataset, 1296, 'headquarter', 'sector')

#### row index 2231
swap_row_cells(dataset, 2231, 'headquarter', 'sector')

#### row index 1310
swap_row_cells(dataset, 1310, 'headquarter', 'sector')

#### row index 1593
swap_row_cells(dataset, 1593, 'amount', 'series')

#### row index 1600
swap_row_cells(dataset, 1600, 'amount', 'series')
swap_row_cells(dataset, 1600, 'investor', 'amount')

### row index 1606
swap_row_cells(dataset, 1606, 'amount', 'series')

#### row index 1732
swap_row_cells(dataset, 1732, 'amount', 'series')

#### row index 2203
swap_row_cells(dataset, 2203, 'amount', 'series')
swap_row_cells(dataset,2203, 'investor', 'amount')

#### row index 1153
swap_row_cells(dataset, 1153, 'amount', 'series')

#### row index 1166
swap_row_cells(dataset, 1166, 'amount', 'series')

### row index 1729
swap_row_cells(dataset, 1729, 'amount', 'series')



# replace computer games with none 
dataset['headquarter'] = dataset['headquarter'].replace('Computer Games', None)

DATA CLEANING ON EACH COLUMN

1. COMPANY_BRAND

In [74]:
#check for missing values
print(f" There are {dataset['company_brand'].isnull().sum()} missing values")

 There are 0 missing values

In [75]:
dataset['company_brand'].unique()

array(['Aqgromalin', 'Krayonnz', 'PadCare Labs', ..., 'Mombay',
       'Droni Tech', 'Netmeds'], dtype=object)

In [76]:
# check for duplicates and unique company names
dataset['company_brand'].unique
print(f" There are {dataset['company_brand'].duplicated().sum()} duplicates")

 There are 665 duplicates

Since there are companies with unique names but dealing in different sectors we wont alter the duplicates.

The column company brand is cleaning

2. FOUNDED

In [77]:
# there are missing years in the dataset 
print(f" There are {dataset['founded'].isna().sum()} missing values")

# check the data type
print(f"The column is a {dataset['founded'].dtype} data type")

 There are 769 missing values
The column is a float64 data type

COURSE OF ACTION

---> We will be cleaning the missing values by fill them using interpolate method which is suitable for time series data.

---> We will also be converting the data type from float to datetime for purpose of our analysis.

In [78]:
dataset["founded"].interpolate(method='linear',inplace= True)

print(f"There are {dataset['founded'].isna().sum()} missing values")

There are 0 missing values

In [79]:
# Convert to datetime
dataset['founded'] = pd.to_datetime(dataset['founded'], format='%Y')

# Convert to period
dataset['founded'] = dataset['founded'].dt.to_period('Y')

3. HEADQUARTER

In [80]:
dataset['headquarter'].unique()

array(['Chennai', 'Bangalore', 'Pune', 'New Delhi', 'Indore', 'Hyderabad',
       'Gurgaon', 'Belgaum', 'Noida', 'Mumbai', 'Andheri', 'Jaipur',
       'Ahmedabad', 'Kolkata', 'Tirunelveli, Tamilnadu', 'Thane', None,
       'Singapore', 'Gurugram', 'Gujarat', 'Haryana', 'Kerala', 'Jodhpur',
       'Jaipur, Rajastan', 'Delhi', 'Frisco, Texas, United States',
       'California', 'Dhingsara, Haryana', 'New York, United States',
       'Patna', 'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Cochin', 'Samastipur, Bihar',
       'Irvine, California, United States', 'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan', 'Kochi',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'New York', 'Bangkok', 'Kanpur', 'Chandigarh', 'Warangal',
       'Hyderebad', 'Odisha', 'Bihar', 'Goa', 'Tamil Nadu',
       'Uttar Pradesh', 'Bhopal', 'Banglore', 'Coimbatore', 'Bengaluru',
       'Ahmadabad', 'Small Towns, Andhra Pradesh', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Vadodara', 'Hauz Khas', 'Gurugram\t#REF!',
       'Mohali', 'Powai', 'Ghaziabad', 'Nagpur', 'West Bengal',
       'Samsitpur', 'Lucknow', 'Telangana', 'Silvassa',
       'Thiruvananthapuram', 'Faridabad', 'Roorkee', 'Ambernath',
       'Panchkula', 'Surat', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Santra',
       'Mountain View, CA', 'Trivandrum', 'Jharkhand', 'Bhilwara',
       'Guwahati', 'London', 'Manchester, Greater Manchester',
       'The Nilgiris', 'Gandhinagar', nan, 'Uttar pradesh', 'Rajasthan',
       'Bangalore, Karnataka, India', 'Mumbai, Maharashtra, India',
       'Gurgaon, Haryana, India', 'Noida, Uttar Pradesh, India',
       'Hyderabad, Andhra Pradesh, India', 'Bengaluru, Karnataka, India',
       'Kalkaji, Delhi, India', 'Delhi, Delhi, India', 'India, Asia',
       'Hubli, Karnataka, India', 'New Delhi, Delhi, India',
       'Chennai, Tamil Nadu, India', 'Mohali, Punjab, India',
       'Kolkata, West Bengal, India', 'Pune, Maharashtra, India',
       'Jodhpur, Rajasthan, India', 'Kanpur, Uttar Pradesh, India',
       'Ahmedabad, Gujarat, India', 'Azadpur, Delhi, India',
       'Haryana, Haryana, India', 'Cochin, Kerala, India',
       'Faridabad, Haryana, India', 'Jaipur, Rajasthan, India',
       'Kota, Rajasthan, India', 'Anand, Gujarat, India',
       'Bangalore City, Karnataka, India', 'Belgaum, Karnataka, India',
       'Thane, Maharashtra, India', 'Margão, Goa, India',
       'Indore, Madhya Pradesh, India', 'Alwar, Rajasthan, India',
       'Kannur, Kerala, India', 'Ernakulam, Kerala, India',
       'Kormangala, Karnataka, India', 'Uttar Pradesh, India, Asia',
       'Andheri, Maharashtra, India', 'Mylapore, Tamil Nadu, India',
       'Ghaziabad, Uttar Pradesh, India', 'Kochi, Kerala, India',
       'Powai, Assam, India', 'Guntur, Andhra Pradesh, India',
       'Kalpakkam, Tamil Nadu, India', 'Bhopal, Madhya Pradesh, India',
       'Coimbatore, Tamil Nadu, India', 'Worli, Maharashtra, India',
       'Alleppey, Kerala, India', 'Chandigarh, Chandigarh, India',
       'Guindy, Tamil Nadu, India', 'Lucknow, Uttar Pradesh, India'],
      dtype=object)

In [81]:
print(f"there are {dataset['headquarter'].isnull().sum()} missing values")

there are 119 missing values

Observation

---> There are companies which have unidentified locations and have been placed as none.

----> There are wrong entries in the column

---> Clean the locations with only the city for accurate analysis.

Course of action

----> Since there are companies where their location is unidentified as none we will fill the missing values with none.

----> split the long locations with one location.

----> assess the wrong entries and place a function that returns the orginal data into the column.

In [82]:
def clean_replace(dataframe,column_name):
    dataframe[column_name] = dataframe[column_name].replace('-', np.nan)
    #clean the nan values with none
    dataframe[column_name] = dataframe[column_name].fillna(value='None')

    return dataset.head()

In [83]:
clean_replace(dataset,"headquarter")

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,series,year
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,2020
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem which provides state of the art technological solutions.,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,2020
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,2020
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,2020
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling access to agri inputs and powering efficient farm management.,"Ashish Rajan Singh, Harshit Gupta, Nishant Mahatre, Tauseef Khan","Siana Capital Management, Info Edge",340000.0,None,2020

In [84]:
print(f"There are {dataset['headquarter'].isnull().sum()} missing values")

There are 0 missing values

In [85]:
dataset['headquarter']= dataset['headquarter'].str.split(',').str[0].str.replace("'","", regex=True)
dataset['headquarter'] = dataset['headquarter'].str.strip('\t#REF!')

In [86]:
dataset['headquarter']=dataset['headquarter'].replace({'Bengaluru': 'Bangalore', 'Banglore': 'Bangalore', 'Gurugram': 'Gurgaon', 'Hyderebad': 'Hyderabad', 
                                      'New Delhi': 'Delhi', 'Ahmadabad': 'Ahmedabad', 'Ernakulam': 'Cochin', 'Telugana': 'Telangana',
                                      'Rajastan': 'Rajasthan', 'San Franciscao': 'San Francisco', 'Samsitpur': 'Samastipur', 'Santra': 'Samtra',
                                      'Rajsamand': 'Rajasthan', 'Kerala': 'Kochi','The Nilgiris': 'Nilgiris', 'Gurugram': 'Gurgaon', 
                                      'California': 'San Francisco', 'San Francisco Bay Area': 'San Francisco', 'Hyderebad': 'Hyderabad' ,'Small Towns': 'Small Towns','Orissia': 'Odisha', 
                                      'Santra': 'Samtra', 'Vadodara': 'Vadodara', 'Bangaldesh': 'Bangladesh',})

4. SECTOR

In [87]:
dataset["sector"].unique()

array(['AgriTech', 'EdTech', 'Hygiene management', 'Escrow',
       'Networking platform', 'FinTech', 'Crowdsourcing',
       'Food & Bevarages', 'HealthTech', 'Fashion startup',
       'Food Industry', 'Food Delivery', 'Virtual auditing startup',
       'E-commerce', 'Gaming', 'Work fulfillment', 'AI startup',
       'Telecommunication', 'Logistics', 'Tech Startup', 'Sports',
       'Retail', 'Medtech', 'Tyre management', 'Cloud company',
       'Software company', 'Venture capitalist', 'Renewable player',
       'IoT startup', 'SaaS startup', 'Aero company', 'Marketing company',
       'Retail startup', 'Co-working Startup', 'Finance company',
       'Tech company', 'Solar Monitoring Company',
       'Video sharing platform', 'Gaming startup',
       'Video streaming platform', 'Consumer appliances',
       'Blockchain startup', 'Conversational AI platform', 'Real Estate',
       'SaaS platform', 'AI platform', 'Fusion beverages', 'HR Tech',
       'Job portal', 'Hospitality', 'Digital Media', 'Dairy startup',
       'Content management', 'Spacetech', 'Transportation',
       'Trading platform', 'AI Company', 'Photonics startup',
       'Entertainment', 'Cosmetics', 'Scanning app', 'Skincare startup',
       'Food and Beverages', 'Biotechnology company', 'FoodTech',
       'Proptech', 'CleanTech', 'Fitness startup', 'Healthcare',
       'PaaS startup', 'Beverages', 'Social Media', 'Automobiles',
       'Deeptech', 'EV startup', 'AR/VR startup', 'Recruitment startup',
       'QSR startup', 'Video platform', 'Edtech', 'Fertility tech',
       'Luxury car startup', 'FM', 'Food', 'Nutrition sector',
       'Tech platform', 'Video', 'Retail Tech', 'HeathTech',
       'Sles and marketing', 'LegalTech', 'Car Service',
       'Bike marketplace', 'Agri tech', 'Reatil startup', 'AR platform',
       'Consumer Goods', 'Content marketplace', 'Interior Design',
       'Rental space', 'Soil-Tech', 'Ayurveda tech',
       'Packaging solution startup', 'Cleantech', 'Sanitation solutions',
       'HealthCare', 'Home Design', 'InsureTech', 'AI Startup',
       'Solar solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup',
       'Social Network', 'Publication', 'Tech', 'Fashion', 'Finance',
       'Venture capital', 'Entreprenurship', 'Food devlivery',
       'Warehouse', 'Online financial service', 'Eyeglasses',
       'Battery design', 'Online credit management startup', 'Beverage',
       'TravelTech', 'Agriculture', 'Startup laboratory',
       'Personal care startup', 'Customer service company',
       'SaaS\xa0\xa0startup', 'Marketing startup', 'Service industry',
       'Social media', 'AI', 'Jewellery', 'AR startup', 'HR Tech startup',
       'Automotive Startup', 'Food Startup', 'EdTech Startup',
       'Car Trade', 'EdtTech', 'Manufacturing', 'AI Platform',
       'Automation', 'Solar SaaS', 'WL & RAC protection',
       'Social commerce', 'Home interior services', 'Agritech startup',
       'API platform', 'Deep Tech', 'Electricity', 'Automotive company',
       'FMCG', 'Insurance Tech', 'Video personalization',
       'Software Company', 'Biomaterial startup', 'Health', 'IT',
       'Craft Beer', 'Healthtech', 'Education', 'Investment',
       'Linguistic Spiritual', 'Construction', 'Battery manufacturer',
       'Nano Distribution Network', 'AI health', 'Dating app', 'Media',
       'Fintech', 'Healthcare/Edtech', 'Social Commerce',
       'Agritech/Commerce', 'Mobility tech', 'Social e-commerce',
       'Food & Logistics', 'SpaceTech', 'Nutrition Tech', 'HR', 'IoT',
       None, 'Agritech', 'Interior design', 'Foodtech', 'AR/VR',
       'Appliance', 'HR tech', 'Food tech', 'Mental Health', 'Ecommerce',
       'Solar Solution', 'SaaS', 'Automobile', 'B2B marketplace',
       'Fashion Tech', 'Nutrition tech', 'Health & Wellness',
       'Cloud Kitchen', 'IoT/Automobile', 'Eye Wear', 'Digital tech',
       'Data Intelligence', 'Co-living', 'Food & Beverages', 'Automotive',
       'B2B', 'Defense tech', 'Marketplace', 'Construction tech',
       'Nutrition', 'Coworking', 'Micro-mobiity', 'Auto-tech', 'Beauty',
       'Robotics', 'Yoga & wellness', 'Logitech', 'Med Tech',
       'Life sciences', 'Retail Aggregator', 'Deep Tech AI', 'Biotech',
       'Blockchain', 'HrTech', 'Mobility/Transport', 'Travel', 'Rental',
       'AI & Debt', 'SaaS/Edtech', 'Transport', 'Co-working', 'Insurtech',
       'Cryptocurrency', 'Automotive tech', 'Legal', 'Fitness', 'EV',
       'Supply chain, Agritech', 'Pharma', 'Insurance technology',
       'Foodtech & Logistics', 'Housing', 'Pharmaceutical',
       'Data Analytics', 'Investment Tech', 'Financial Services',
       'Biopharma', 'Dairy', 'Beauty & wellness', 'Travel & SaaS',
       'Tourism & EV', 'Media Tech', 'Location Analytics', 'E store',
       'Data Science', 'Insurance', 'Health and Fitness', 'Technology',
       'Interior & decor', 'eMobility', 'Automation tech',
       'Media & Networking', 'E-market', 'AI & Data science',
       'Travel tech', 'Automotive and Rentals', 'E-tail', 'Accomodation',
       'AI & Media', 'Machine Learning', 'Content Marktplace',
       'Visual Media', 'Hygiene', 'VR & SaaS', 'Sales & Services',
       'AI & Deep learning', 'Housing & Rentals', 'Estore', 'Marketing',
       'E tailor', 'E-mobility', 'Ad-tech', 'Neo-banking',
       'Transport Automation', 'Techonology', 'Transport & Rentals',
       'AI Robotics', 'Preschool Daycare', 'Food diet', 'B2B Agritech',
       'E-connect', 'Tech hub', 'Consultancy', 'Pharmacy', 'Deisgning',
       'Taxation', 'Automobile Technology', 'B2B E-commerce',
       'Home services', 'B2B service', 'Helathcare', 'Renewable Energy',
       'Electronics', 'IT startup', 'Aeorspace', 'Dating',
       'Oil and Energy', 'Telecommuncation', 'Milk startup', 'AI Chatbot',
       'Food delivery', 'Fantasy sports', 'Video communication',
       'Skill development', 'Recruitment', 'Computer Games',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'SportsTech', 'HRTech',
       'Wine & Spirits', 'Mechanical & Industrial Engineering',
       'Spiritual', 'Industrial Automation', 'Lifestyle', 'Banking',
       'Computer software', 'Tech startup', 'Digital mortgage',
       'Information Technology & Services', 'Furniture', 'Healtcare',
       'Consumer Electronics', 'Tobacco', 'Insuretech', 'MLOps platform',
       'Venture Capital', 'Pet care', 'Drone', 'Wholesale', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity',
       'Health, Wellness & Fitness', 'OTT', 'Education Management',
       'Computer Software', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Hospital & Health Care', 'Music', 'Pharmaceuticals\t#REF!',
       'Mobility', 'Digital platform', 'B2B Ecommerce', 'Online Media',
       'Mobile Games', 'Food Production', 'Podcast', 'Battery',
       'Content publishing', 'Water purification', 'Content commerce',
       'Innovation Management', 'Celebrity Engagement', 'Personal Care',
       'Cannabis startup', 'Blogging', 'Consulting', 'BioTechnology',
       'B2B Marketplace', 'Health care', 'Social audio',
       'Fashion and lifestyle', 'Delivery service', 'B2B Manufacturing',
       'Home Decor', 'Solar', 'TaaS startup', 'Manufacturing startup',
       'Vehicle repair startup', 'Advisory firm', 'Legaltech',
       'Pollution control equiptment', 'Fashion & Lifestyle', 'D2C',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Human Resources', 'Eyewear',
       'D2C Business', 'Biotechnology', 'Farming', 'NFT Marketplace',
       'Internet', 'Consumer software', 'Social community', 'Fishery',
       'Renewables & Environment', 'Online storytelling', 'Aviation',
       'IT company', 'Environmental service', 'Job discovery platform',
       'D2C Fashion', 'Heathcare', 'CRM', 'Software', 'D2C startup',
       'Innovation management', 'Community platform', 'Networking',
       'Commercial Real Estate', 'Consumer service', 'Consumer goods',
       'MarTech', 'Advertisement', 'Content creation',
       'Augmented reality', 'Bike Rental', 'Beauty products', 'Tourism',
       'FemTech', 'Cultural', 'Supply chain platform', 'Social platform',
       'Real estate', 'AI company', 'Sports startup', 'Matrimony',
       'Crypto', 'Clothing', 'Analytics', 'IoT platform', 'Commerce',
       'Defense & Space', 'Business Supplies & Equipment', 'NFT',
       'Oil & Energy', 'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Arts & Crafts', 'Investment Management', 'Management Consulting',
       'B2B startup', 'Online Media\t#REF!', 'Design', 'B2B Travel',
       'Product studio', 'Aviation & Aerospace', 'Staffing & Recruiting',
       'AI & Tech', 'E-commerce & AR', 'Safety tech', 'E-marketplace',
       'Robotics & AI', 'Food & Nutrition', nan, 'E-Sports',
       'B2B Supply Chain', 'Games', 'Food & tech', 'Legal tech',
       'Mutual Funds', 'Cybersecurity', 'Virtual Banking',
       'Marketing & Customer loyalty', 'Infratech',
       'Automobile & Technology',
       'Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Agriculture, Farming',
       'Credit, Financial Services, Lending, Marketplace',
       'Financial Services, FinTech',
       'E-Commerce Platforms, Retail, SaaS',
       'Cloud Infrastructure, PaaS, SaaS',
       'Internet, Leisure, Marketplace', 'Market Research',
       'Information Services, Information Technology', 'Mobile Payments',
       'B2B, Shoes',
       'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat',
       'Automotive, Search Engine, Service Industry',
       'Finance, Internet, Travel',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Artificial Intelligence, Product Search, SaaS, Service Industry, Software',
       'Internet of Things, Waste Management',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Food and Beverage', 'Autonomous Vehicles',
       'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS',
       'Agriculture, Analytics, Big Data, Farming',
       'Logistics, Supply Chain Management',
       'Financial Services, Lending',
       'Automotive, Marketplace, Online Portals',
       'Artificial Intelligence',
       'Internet of Things, Telecommunications',
       'Information Technology, Logistics, Supply Chain Management',
       'Blockchain, Developer Tools, Enterprise Software',
       'Industrial Automation, Logistics, Supply Chain Management',
       'Food and Beverage, Food Delivery, Snack Food',
       'E-Commerce, Fashion, Jewelry, Retail', 'E-Learning, Education',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning',
       'E-Commerce, Fashion, Mobile',
       'Apps, Messaging, Navigation, Public Safety',
       'Fitness, Health Care, Wellness',
       'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant',
       'Food and Beverage, Tea',
       'Media and Entertainment, News, Outdoors',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'B2B, Information Services, Information Technology',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'Health Care, Medical', 'E-Commerce',
       'Health Care, Hospital, Wellness', '—',
       'Big Data, Consumer Lending, FinTech',
       'Cloud Computing, Computer, Semiconductor',
       'Health Care, Medical, Pharmaceutical', 'Food Processing, Retail',
       'Trading Platform', "Consumer Goods, Lifestyle, Men's", 'Wellness',
       'Food and Beverage, Food Processing, Nutrition',
       'Automotive, Electric Vehicle, Energy Storage',
       'Consulting, Retail, Social',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Health Care',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Communities, Coworking, Incubators',
       'Consumer, Financial Services, FinTech',
       'Consumer Applications, Information Services, Location Based Services, Virtual Assistant',
       'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps',
       'Education, Financial Services, FinTech',
       'Advertising, Consulting, Digital Marketing',
       'Marketplace, Real Estate, Rental Property',
       'E-Learning, Internet, Video Games',
       'Artificial Intelligence, Cloud Computing, Video',
       'Health Care, Information Technology', 'Aerospace',
       'E-Commerce, Fashion, Lifestyle',
       'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning',
       'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home',
       'EdTech, Education, Information Services, SaaS', 'Energy, Solar',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'Artificial Intelligence, Social',
       'Logistics, Transportation, Travel',
       'Digital Marketing, SEM, SEO, Web Development',
       'Health Care, Hospital, Medical', 'Finance, Financial Services',
       'Food Delivery, Food Processing, Internet',
       'E-Commerce, Food and Beverage, Internet',
       'Fitness, Food and Beverage, Health Care, Nutrition',
       'EdTech, Education, Knowledge Management',
       'Apps, Beauty, Consumer, Retail',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'E-Learning, Education, Higher Education', 'Health Diagnostics',
       'EdTech, Education', 'Financial Services, SaaS, Security',
       'Banking, Finance, Financial Services, Non Profit',
       'B2B, E-Commerce, Mobile',
       'Automotive, Electric Vehicle, Renewable Energy', 'E-Learning',
       'Embedded Systems, Health Care, Medical, Product Research',
       'Apps, E-Commerce, Internet',
       'Advertising, Human Resources, Marketing',
       'Beauty, Fitness, Home Services, Internet',
       'Health Care, Medical Device, Public Safety',
       'Food Delivery, Online Portals, Restaurants',
       'AgTech, B2B, Supply Chain Management',
       'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments',
       'EdTech, Education, Higher Education, Secondary Education',
       'Manufacturing, Retail',
       'Information Services, Information Technology, InsurTech',
       'Consumer Lending, FinTech', 'Internet, Social Network, TV',
       'Beauty, Health Care', 'Hospital', 'Events',
       '3D Printing, Manufacturing, Product Design', 'Automotive, Retail',
       'Apps, Audio', 'Automotive, E-Commerce',
       'Digital Entertainment, Fantasy Sports, Sports',
       'E-Learning, EdTech, Education',
       'Funding Platform, Incubators, Non Profit',
       'Hospitality, Hotel, Leisure, Travel',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Banking, E-Learning, Trading Platform',
       'E-Commerce, Mobile, Retail',
       'Artificial Intelligence, Information Technology',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Banking, Finance, Financial Services',
       'Audio, Mobile, Tourism, Travel',
       'Energy, Energy Storage, Infrastructure',
       'Government, Information Technology, Software',
       'Education, Information Technology, Internet, Mobile, Software',
       'Consumer Lending, Financial Services, Lending, Personal Finance',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Credit, Financial Services, FinTech, Lending',
       'Children, Education, Parenting',
       'Automotive, Battery, Energy, Energy Storage',
       'E-Commerce, Mobile, Sharing Economy',
       'Food Delivery, Organic, Organic Food', 'Mobile', 'Consumer',
       'B2B, Farming, Marketplace', 'Wealth Management',
       'Education, Gaming, Training',
       'Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless',
       'Health Care, Hospital, Supply Chain Management',
       'Tourism, Travel', 'Hospitality, Real Estate',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software',
       'Food and Beverage, Food Processing',
       'Internet, Marketplace, Shopping',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Facilities Support Services',
       'Automotive, Electric Vehicle, Energy',
       'Health Care, Health Diagnostics, Predictive Analytics',
       'Cloud Computing, Computer, SaaS, Software',
       'Fashion, Lifestyle, Retail', 'Medical', 'Music Streaming',
       'Finance, Impact Investing, Internet',
       'Internet, Social Entrepreneurship',
       'Finance, Impact Investing, Mobile Apps',
       'Cloud Computing, Computer, Software',
       'Business Development, Market Research, Outsourcing',
       'Health Care, Hospitality', 'Internet, Social News, Sports',
       'Finance, Financial Services, FinTech',
       'Customer Service, Software, Video, Video Streaming',
       'E-Commerce, Food Processing', 'Training',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Manufacturing, Oil and Gas, Robotics',
       'Artificial Intelligence, Computer, Machine Learning',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Big Data, EdTech, Machine Learning',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Financial Services, Lending, Peer to Peer',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'File Sharing, Personalization, Social Media',
       'Home Decor, Interior Design',
       'Health Care, Medical Device, Mobile Apps',
       'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management',
       'Crowdfunding, Finance, Financial Services',
       'Finance, Financial Services, Insurance',
       'Children, Education, Online Portals', 'Software, Virtual Reality',
       'B2B, Food and Beverage, Food Delivery',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       'Food and Beverage, Snack Food', 'Automotive, E-Commerce, Mobile',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses',
       'Delivery, Information Technology, Mobile Apps',
       'Environmental Consulting, Renewable Energy',
       'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance',
       'Commercial Real Estate, Coworking, Office Administration, Real Estate',
       'Food and Beverage, Food Processing, Organic Food, Snack Food',
       'Apps, Health Care, Internet, Mobile Apps, Personal Health',
       'Digital Media, Incubators, Social Entrepreneurship',

In [88]:
print(f" There are {dataset['sector'].isnull().sum()} missing values")

 There are 19 missing values

Observation 

----> There are unidentified sectors/industries which have none

----> There are unidentified sectors that need to be replaced with actual industry names

Course of action 

----> We will be replacing the missing values with none to show some companies have unidentified industry they are in.

----> Replace the unidentified names with industry names

In [89]:
clean_replace(dataset, 'sector')
print(f" There are {dataset['sector'].isna().sum()} missing values")

 There are 0 missing values

In [90]:
dataset['sector']= dataset['sector'].str.split(',').str[0].str.replace("'","", regex=True)

In [91]:
# there are certain sectors which are not defined well so we need to replace them with actual sectors
# create a list :
## Android - 
## Helathcare
## crowd funding
## heath care
## wellness
## basketball 
## catering 
## cooking


dataset['sector'].replace('Android','Edtech', inplace=True)
dataset['sector'].replace('Crowdfunding', 'Crowdsourcing', inplace=True)
dataset['sector'].replace('Wellness', 'HealthCare',inplace=True)
dataset['sector'].replace('Basketball', ' Apps', inplace=True)
dataset['sector'].replace('Catering', 'Food Delivery', inplace=True)
dataset['sector'].replace('Cooking', 'Food Delivery',inplace=True)
dataset['sector'] = dataset['sector'].replace({'Edtech': 'EdTech', 
                                               'Fintech': 'FinTech', 
                                               'Agriculture': 'AgriTech', 
                                               'Food & Beverages': 'Food and Beverages',
                                               'Financial Services': 'FinTech',
                                                'Healthcare': 'HealthTech', 'HealthTech': 'HealthTech', 'Medical': 'HealthTech','Medtech': 'HealthTech', 'Pharmaceutical': 'HealthTech', 
                                                'Health Insurance': 'HealthTech','Biotechnology': 'HealthTech', 'Health Diagnostics': 'HealthTech', 
                                                'Hospital': 'HealthTech','Hospital & Health Care': 'HealthTech', 'Wellness': 'HealthTech', 
                                                'Dental': 'HealthTech','Alternative Medicine': 'HealthTech', 'Nutrition': 'HealthTech', 
                                                'Fitness': 'HealthTech','Mental Health': 'HealthTech', 'Healthcare/Edtech': 'HealthTech',
                                                'Life sciences': 'HealthTech', 'Biotech': 'Healthcare', 'Nutrition Tech': 'HealthTech','E-mobility': 'HealthTech', 
                                                'Med Tech': 'HealthTech', 'FemTech': 'HealthTech','Cannabis startup': 'HealthTech', 'Pharmacy': 'HealthTech', 'Medical Device': 'HealthTech',
                                                'BioTechnology': 'HealthTech', 'Fertility tech': 'HealthTech', 'Ayurveda tech': 'HealthTech','E-tail': 'Healthcare', 'E store': 'E-Commerce', 'E-store': 'Healthcare', 
                                                'Telemedicine': 'Healthcare','HealthCare': 'HealthTech',
                                                'AI startup': 'AI', 
                                                'Information Services': 'InfoTech','Healthtech': 'HealthTech',
                                                'Finance': 'FinTech', 'Health Care': 'HealthTech',
                                                'Logistics & Supply Chain': 'Logistics', 
                                                'Food Industry': 'FoodTech', 'Foodtech': 'FoodTech', 
                                                'SaaS startup': 'SaaS', 'Health': 'HealthTech', 
                                                'Ecommerce': 'E-Commerce','Tech Startup': 'Tech', 
                                                'Mobility': 'Transportation', 'SaaS': 'Tech', 'Artificial Intelligence': 'AI',
                                                'Food and Beverage': 'Food and Beverages', 
                                                'Information Technology': 'InfoTech','Internet': 'Tech', 'Apps': 'Tech', 'Computer Software': 'Tech', 
                                                'E-commerce': 'E-Commerce','Agritech': 'AgriTech', 'Hospital & Health Care': 'HealthTech', 'Food': 'Foodtech', 
                                                'Cosmetics': 'Consumer Goods','Tech company': 'Tech', 
                                                'Automobile': 'Automotive', 'Apparel & Fashion': 'Fashion', 'Education': 'EdTech',
                                                'Social Media': 'Media', 'Digital Media': 'Media', 'IT': 'InfoTech', 'IoT': 'AI','Software': 'Tech', 
                                                'Industrial Automation': 'AI', 'Technology': 'Tech','Information Technology & Services': 'InfoTech & Services', None: 'Unknown'})

5. ABOUT_COMPANY

In [92]:
dataset["about_company"].unique()

array(['Cultivating Ideas for Profit',
       'An academy-guardian-scholar centric ecosystem which provides state of the art technological solutions.',
       'Converting bio-hazardous waste to harmless waste', ...,
       'Mombay is a unique opportunity for housewives to start household food business and avail everyone with their homemade healthy dishes.',
       'Droni Tech manufacture UAVs and develop software to service a range of industry requirements.',
       "Welcome to India's most convenient pharmacy!"], dtype=object)

In [93]:
print(f"There are {dataset['about_company'].isnull().sum()} missing values")

There are 0 missing values

6. FOUNDERS

In [94]:
dataset['founders'].unique()

array(['Prasanna Manogaran, Bharani C L',
       'Saurabh Dixit, Gurudutt Upadhyay', 'Ajinkya Dhariya', ...,
       'Pavan Kushwaha', 'Jeevan Chowdary M, Harshit Harchani',
       'Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mohit Gupta'],
      dtype=object)

In [95]:
dataset['founders'].isnull().sum()

545

In [96]:
clean_replace(dataset, 'founders')
print(f" There are {dataset['founders'].isna().sum()} missing values")

 There are 0 missing values

In [97]:
# strip off characters 
dataset['founders'] = dataset['founders'].str.strip('\t#REF!')

7. INVESTORS

In [98]:
dataset['investor'].unique()

array(['Angel investors', 'GSF Accelerator', 'Venture Center', ...,
       'Norwest Venture Partners, General Catalyst, Fundamentum, Accel Partners',
       'TPG, Norwest Venture Partners, Evolvence India', nan],
      dtype=object)

In [99]:
print(f" There are {dataset['investor'].isnull().sum()} missing values")

 There are 628 missing values

Observation 

---> There are unidentified investors and there are some with not applicable(nan).
---> There are missing values in the column

Course of action 

----> We will be replacing the missing values with none 

----> Change the nan and replace with none.

In [100]:
clean_replace(dataset, 'investor')

print(f" There are {dataset['investor'].isna().sum()} missing values")

 There are 0 missing values

In [101]:
dataset.loc[:, 'investor'] = dataset.loc[:, 'investor'].replace('nan', 'None', regex=True)
dataset.loc[:, 'investor'] = dataset.loc[:, 'investor'].replace('http://100x.vc/', 'None', regex=True)
dataset['investor']= dataset['investor'].str.split(',').str[0].str.replace("'","", regex=True)
dataset['investor'] = dataset['investor'].str.strip('\t#REF!')

8. AMOUNT

In [102]:
dataset['amount'].unique()

array([200000.0, 100000.0, nan, 400000.0, 340000.0, 600000.0, 45000000.0,
       1000000.0, 2000000.0, 1200000.0, 660000000.0, 120000.0, 7500000.0,
       5000000.0, 500000.0, 3000000.0, 10000000.0, 145000000.0,
       100000000.0, 21000000.0, 4000000.0, 20000000.0, 560000.0, 275000.0,
       4500000.0, 15000000.0, 390000000.0, 7000000.0, 5100000.0,
       700000000.0, 2300000.0, 700000.0, 19000000.0, 9000000.0,
       40000000.0, 750000.0, 1500000.0, 7800000.0, 50000000.0, 80000000.0,
       30000000.0, 1700000.0, 2500000.0, 40000.0, 33000000.0, 35000000.0,
       300000.0, 25000000.0, 3500000.0, 200000000.0, 6000000.0, 1300000.0,
       4100000.0, 575000.0, 800000.0, 28000000.0, 18000000.0, 3200000.0,
       900000.0, 250000.0, 4700000.0, 75000000.0, 8000000.0, 121000000.0,
       55000000.0, 3300000.0, 11000000.0, 16000000.0, 5400000.0,
       150000000.0, 4200000.0, 22000000.0, 52000000.0, 1100000.0,
       118000000.0, 1600000.0, 18500000.0, 70000000000.0, 800000000.0,
       400000000.0, 150000.0, 176000000.0, 60000000.0, 470000.0, 240000.0,
       3000000000.0, 74000000.0, 62000000.0, 2100000.0, 500000000.0,
       12500000.0, 2200000000.0, 5060000.0, 225000000.0, 24700000.0,
       7700000.0, 19067328.0, 51000000.0, 115000.0, 54000.0, 20000.0,
       803146.0, 238000.0, 10220000.0, 1020000.0, 12000000.0, 13400000.0,
       170000000.0, 2900000.0, 543000.0, 90000000.0, 3400000.0,
       23000000.0, 8090000.0, 1030000.0, 5040000.0, 360000.0, 1400000.0,
       650000.0, 54000000.0, 42500000.0, 11370000.0, 325000.0, 410000.0,
       450000.0, 682000.0, 4050000.0, 1050000.0, 1080000.0, 4300000.0,
       6800000.0, 2110000.0, 764000.0, 603000.0, 409000.0, 292000.0,
       286000.0, 136000.0, 546000.0, 887000.0, 43000.0, 40900.0,
       2200000.0, 5660000.0, 350000.0, 110000.0, 122000000.0, 11635000.0,
       2800000.0, 1065000.0, 669000.0, 16076000.0, 649600.0, 6700000.0,
       220000.0, 266500.0, 2879000.0, 26500000.0, 351000.0, 46761000.0,
       175000.0, 11241000.0, 804000.0, 1340000.0, 467000.0, 133000.0,
       3823000.0, 934000.0, 293000.0, 198000.0, 927000.0, 971000.0,
       3060000.0, 1862000.0, 232000.0, 2888000.0, 1328000.0, 15500000.0,
       56000000.0, 2250000.0, 16753000.0, 3700000.0, 1470000.0, 530000.0,
       267000.0, 3344000.0, 7200000.0, 2743000.0, 6082000.0, 6609000.0,
       27700000.0, 5940000.0, 3964000.0, 5500000.0, 197000.0, 4327000.0,
       459000.0, 3937000.0, 1313500.0, 229800.0, 5305000.0, 264000.0,
       1750000.0, 5967000.0, 2980000.0, 323000.0, 1326000.0, 27000000.0,
       5200000.0, 2530000.0, 792000.0, 11363000.0, 1715000.0, 329000.0,
       5271000.0, 8700000.0, 3226000.0, 5900000.0, 44000000.0, 3879000.0,
       13000000.0, 8800000.0, 9500000.0, 920000.0, 35600000.0, 9400000.0,
       790000.0, 480000.0, 160000.0, 8200000.0, 4257000.0, 1410000.0,
       349800.0, 786000.0, 2004000.0, 123000000.0, 248000.0, 24000000.0,
       14259000.0, 24500000.0, 3800000.0, 18370000.0, 68525000.0,
       4800000.0, 1834000.0, 23850000.0, 43000000.0, 21600000.0,
       4598000.0, 13137000.0, 115000000.0, 3900000.0, 670000.0, 8500000.0,
       3148000.0, 2600000.0, 4049500.0, 10500000.0, 6500000.0, 43700000.0,
       13800000.0, 306900.0, 420000.0, 627300.0, 113000000.0, 32000000.0,
       110000000.0, 1397000.0, 448500.0, 7975700.0, 330000.0, 5600000.0,
       1402000.0, 21500000.0, 296000000.0, 4900000.0, 1402400.0,
       12618300.0, 9900000.0, 982530.0, 70185200.0, 210000000.0,
       84000000.0, 39000000.0, 2700000.0, 1403400.0, 105000000.0,
       103000000.0, 281300.0, 12700.0, 25000.0, 97500000.0, 507000.0,
       8400000.0, 18300000.0, 125000000.0, 181000.0, 280000.0, 14700000.0,
       13200000.0, 8043000.0, '$1,200,000', '$120,000,000', '$30,000,000',
       '$51,000,000', '$2,000,000', '$188,000,000', '$200,000',
       'Undisclosed', '$1,000,000', '$3,000,000', '$100,000', '$700,000',
       '$9,000,000', '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       '$1200000', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$52000000', '$3800000', '$17500000', '$42000000', '$2300000',
       '$7000000', '$30000000', '$450000000', '$28000000', '$300000',
       '$3500000', '$8500000', '$25000000', '$3000000', '$37000000',
       '$370000000', '$700000', '$16000000', '$100000', '$44000000',
       '$770000', '$125000000', '$35000000', '$50000000', '$4900000',
       '$145000000', '$22000000', '$70000000', '$6600000', '$32000000',
       '$24000000', '$725000', '$461000', '$96000000', '$60000000',
       '$500000000', '$266000000', '$4500000', '$325000000', '$6500000',
       '$1600000', '$150000', '$225000', '$85000000', '$235000',
       '$260000', '$2900000', '$53000000', '$1100000', '$86000000',
       '$130000', '$$100,00', '$111000000', '$265000', '$76000000',
       '$100,000,000', '$75,000,000', '$3,800,000', '$12,000,000',
       '$1,600,000', '$260,000', '$1,000,000,000', '$18,000,000',
       '$20,000,000', '$350,000', '$95,000,000', '$4,100,000',
       '$5,200,000', '$8,000,000', '$1,400,000', '$2,600,000', '$900,000',
       '$250,000', '$16,000,000', '$7,000,000', '$11,000,000',
       '$280,000,000', '$50,000,000', '$14,300,000', '$81,000,000',
       '$1,300,000', '$8,200,000', '$70,000,000', '$720,000', '$600000',
       '$9000000', '$1800000', '$330000', '$undisclosed', '$200000000',
       '$36000000', '$67000000', '$10200000', '$220000000', '$108000000',
       '$75000000', '$450000', '$660000000', '$45000000', '$3200000',
       '$370000', '$48000000', '$3600000', '$11000000', '$192000000',
       '$65000000', '$1400000', '$1900000', '$41000000', '$144000000',
       '$5200000', '$270000000', '$140000', '$250000000', '$320000',
       '$350000000', '$4800000', '$38000000', '$125000', '$26000000',
       '$64000000', '$620000', '$900000', '$2600000', '$1,250,000',
       '$400,000,000', '$1,700,000', '$27,000,000', '$234,000,000',
       '$460,000,000', '$13,500,000', '$5,100,000', '$195,000,000',
       '$125,000', '$45,000,000', '$200,000,000', '$7,300,000',
       '$6,300,000', '$12,500,000', '$24,000,000', '$140,000',
       '$16,500,000', '$340,000', '$43,000,000', '$150,000,000',
       '$3300000', '$92000000', '$17000000', '$135000000', '$$1,55,000',
       '$2100000', '$840000000', '$248000000', '$4300000', '$570000',
       '$2200000', '$4700000', '$300000000', '$260000000', '$140000000',
       '$175000000', '$19000000', '$810000', '$7500000', '$600000000',
       '$90000000', '$5700000', '$6750000', '$78000000', '$5400000',
       '$115000000', '$255000000', '$18000000', '$570000000', '$550000',
       '$2700000', '$4200000', '$31000000', '$540000', '$14000000',
       '$340000', '$', '$6200000', '1000000\t#REF!', '$750000',
       '$6300000', '$23000000', '$55000000', '$28,000,000',
       '$275,000,000', '$22,000,000', '$140,500', '$540,000,000',
       '$182,700', '$15,500,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$6,800,000', '$36,000,000', '$5,700,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$311,000,000', '$4,800,000', '$693,000,000', '$33,000,000',
       '250000', 584000.0, 949000.0, '2000000', '1600000', 233600.0,
       730000.0, 1460000.0, '150000', '1100000', 7300.0, '6000000',
       '650000', 511000.0, 934400.0, '1000000', '5000000', '4000000',
       438000.0, '2800000', '1700000', '1300000', 73000.0, 182500.0,
       219000.0, '500000', 1518400.0, 657000.0, '13400000', 365000.0,
       385440.0, 116800.0, 876.0, '9000000', '100000', '20000', '120000',
       496400.0, 4993200.0, '$143145', 8760000.0, '$742000000',
       14600000.0, 29200000.0, '$3980000', '$10000', 1460.0, 3650000.0,
       '$1000000000', 8030000.0, '$28500000', 3504000.0, 1752000.0,
       '$2400000', 36500000.0, 642400.0, '$3240000', 876000.0,
       '$540000000', 9490000.0, 23360000.0, 1022000.0, 1496500.0, 17520.0,
       75920000.0, '$1041000', '$15000', '1400000', '1200000', '2200000',
       '1800000', '3600000', 138700.0, '300000', '6830000', '200000',
       2190000.0, '4300000', '364846', '400000', '1500000', 102200.0,
       20440.0, 146000.0, 328500.0, '13200000', '50000', 2046920.0,
       '3000000', '1250000', '180000', 280320.0, 1503800.0, '4200000',
       '175000', '1450000', 2920.0, '4500000', '600000', 242360.0,
       175200.0, '15000000', 481800.0, '125000', '130000', 509540.0,
       1051200.0, '17200000', 467200.0, '3500000', 1971000.0, '12000000',
       22484000.0, 2044000.0, '$41900000', 20586000.0, '$3530000',
       8468000.0, 525600.0, 4964000.0, '$210000000', '$37680000',
       '$20000', 7446000.0, 32120000.0, '22000000', '70000', '10000000',
       224723200.0, 292000000.0, 58400000.0, '185000000', '65000000',
       2409000.0, '700000', '30000000', 3066000.0, '210000000',
       29632160.0, '75000000', 1168000.0, '1760000', '2700000', 4088000.0,
       11680000.0, '750000', '2500000', '80000000', '25000000',
       10658000.0, 5840000.0, '3700000', '5600000', 3796000.0, '99230000',
       '70000000', '40000', '550000', '50000000', '365000000', 127750.0,
       1138800.0, '28000000', 3854400.0, '100000000', 16498000.0,
       11826000.0, 20440000.0, '14900000', '225000000', '7500',
       '35000000'], dtype=object)

In [103]:
print(f"There are {dataset['amount'].isna().sum()} missing values")

There are 403 missing values

Observation

----> The amount column has rupies and dollar currency.
----> There is a shuffle of row cells between the stage and amount
----> There are missing values in the column

Course of action

---> We will be changing the currency of the amount to dollar
---> We will also fill the missing values with 0
---> We will be changing the currency to dollar

In [105]:

# Remove dollar sign
dataset['amount'] = dataset['amount'].replace('\$', '', regex=True)

# Remove commas
dataset['amount'] = dataset['amount'].str.replace(',', '')

# Remove all other irrelevant characters, words and symbols
dataset['amount'] = dataset['amount'].replace(["Upsparks", 'undisclosed', 'Undisclosed',
                                                      ',' ], '')

# strip off characters 
dataset['amount'] = dataset['amount'].str.strip('\t#REF!')

# Convert the 'amount($)' column to numeric
dataset['amount'] = pd.to_numeric(dataset['amount'])

9. SERIES

Startups start with pre-seed, progress through seed, Series A, Series B, etc., securing resources for development and strategies. Additional rounds like Series C or D may follow. External funding at each stage fuels growth toward the venture's full potential.

**Pre-Seed Funding**  
Entrepreneurial idea in early development; small funds needed; limited informal channels for raising funds.

**Seed Funding**  
First official equity funding; investors provide funds for equity ownership.

**Series A Financing**  
First venture capital round; developed product, consistent revenue, long-term profit plan.

**Series B Financing**  
For established startups; substantial user base and revenue; funding for expansion.

**Series C and Beyond**  
Optional rounds for final push before IPO or unmet objectives; Series C is the third venture capital round.

**Initial Public Offering (IPO)**  
Process of offering corporate shares to the public; used for funding or divestment.

link: https://www.startupindia.gov.in/content/sih/en/funding.html

In [106]:
# Cleaning stage column
dataset['series'].unique()
dataset['series']=dataset['series'].replace('https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',np.NaN)

In [107]:
# Standardize funding stages in the 'stage' column
dataset['series'] = dataset['series'].replace(['Series A', 'Seies A', 'Series A-1', 'Series A2', 'Series A+', 'Series A+'], 'Series A')
dataset['series'] = dataset['series'].replace(['Pre-seed', 'Pre-seed Round', 'Pre seed Round', 'Pre seed round'], 'Pre-Seed Stage')
dataset['series'] = dataset['series'].replace(['Pre series A', 'Pre-series A', 'Pre Series A', 'Pre series A1', 'Pre-series A1', 'Pre- series A'], 'Pre series A')
dataset['series'] = dataset['series'].replace(['Series B', 'Series B+', 'Series B2', 'Series B3'], 'Series B')
dataset['series'] = dataset['series'].replace(['Series C', 'Series C', 'Series C, D','Series C', 'Private Equity','PE', 'Post-IPO Equity','Series D', 'Series E', 'Series F', 'Series G', 'Series H', 'Series I','Series D1','Series F2', 'Series F1'], 'Series C and Beyond')
dataset['series'] = dataset['series'].replace(['Venture - Series Unknown', None,'Grant','Debt','Debt Financing','Post-IPO Debt','Non-equity Assistance','Bridge','Bridge Round','Fresh funding','Funding Round','Mid series','Edge','ah! Ventures','ITO Angel Network LetsVenture','JITO Angel Network LetsVenture'], 'unknown')
dataset['series'] = dataset['series'].replace(['Corporate Round','Undisclosed','Secondary Market','Pre-series','Post series A','Pre-series B','Pre-Series B','Pre series B','Pre-series C','Pre series C'], 'Other Stages')
dataset['series'] = dataset['series'].replace(['Seed','Seed funding','Pre-Seed','Angel', 'Angel Round','Seed fund', 'Seed round', 'Seed A','Seed Funding', 'Seed Round & Series A', 'Series E2', 'Seed Round','Seed Investment','Seed+','Early seed'],'Seed Stage')

In [108]:
dataset['series'].value_counts()

series
unknown                            1051
Seed Stage                          748
Series A                            309
Pre series A                        292
Series C and Beyond                 234
Series B                            138
Pre-Seed Stage                       65
Other Stages                         38
Upsparks                              2
ITO Angel Network, LetsVenture        1
JITO Angel Network, LetsVenture       1
Name: count, dtype: int64

In [109]:
dataset['series'].isna().sum()

0

In [110]:
# strip off characters 
dataset['series'] = dataset['series'].str.strip('\t#REF!')

10. YEAR

In [111]:
dataset['year'].dtype

dtype('int64')

In [112]:
# # Convert the data_year column to date
dataset['year']=pd.to_datetime(dataset['year'], format='%Y')
dataset['year']=dataset['year'].dt.to_period('y')
# # df['founded']=pd.to_datetime(df['founded']).dt.year

General cleaning

In [113]:
dataset[dataset.duplicated()]

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,series,year
145,Krimanshi,2015,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by improving the productivity of Indian cattle with better quality feed.,Nikhil Bohra,ajasthan Venture Capital Fund,NaN,Seed Stage,2020
205,Nykaa,2012,Mumbai,Consumer Goods,Nykaa is an online marketplace for different beauty and wellness products.,alguni Nayar,Alia Bhatt,NaN,unknown,2020
362,Byju’s,2011,Bangalore,EdTech,An Indian educational technology and online tutoring firm,Byju Raveendran,Owl Ventures,NaN,unknown,2020
367,Zomato,2008,Haryana,Food devlivery,Get online food delivery from restaurants near you,"Deepinder Goyal, Pankaj Chaddah",MacRitchie Investments,NaN,unknown,2020
813,Nykaa,2012,Mumbai,E-Commerce,Deals in cosmetic and wellness products,alguni Nayar,Steadview capital,NaN,unknown,2020
963,Vogo,2016,Bangalore,Automotive,A scooter-sharing platform allowing users to rent a two-wheeler from specific designated pick up points,"Anand Ayyadurai, Padmanabhan Balakrishnan, Sanchit Mittal",Lightstone Aspada,NaN,Series C and Beyond,2020
1009,Bounce,2014,Bangalore,Automotive and Rentals,Offers a variety of bikes and scooters that can be rented on a subscription basis,"Vivekananda Hallekere, Anil Giri Raju,Arun Agni",Accel Partners,NaN,Series C and Beyond,2020
1162,Curefoods,2020,Bangalore,Food and Beverages,Healthy & nutritious foods and cold pressed juices produced in Edinburgh. Currently distributing wholesale within the Edinburgh region.,Ankit Nagori,Iron Pillar,13000000.0,unknown,2021
1164,Bewakoof,2012,Mumbai,Fashion,"Bewakoof is a lifestyle fashion brand that makes creative, distinctive fashion for the trendy, contemporary Indian.",Prabhkiran Singh,InvestCorp,8000000.0,unknown,2021
1166,FanPlay,2020,None,Computer Games,A real money game app specializing in trivia games,YC W21,Pritesh Kumar,1200000.0,Upsparks,2021
1172,Advantage Club,2014,Mumbai,HRTech,"Advantage Club is India's largest employee engagement platform, Provide end to end employee benefit management with state of the art products like:","Sourabh Deorah, Smiti Bhatt Deorah",Y Combinator,1700000.0,unknown,2021
1174,Ruptok,2020,Delhi,FinTech,"Ruptok fintech Pvt. Ltd. is an online gold loan service provider , with attractive interests rate .",Ankur Gupta,clear Leasing,1000000.0,unknown,2021
1298,Trinkerr,2021,Bangalore,Capital Markets,Trinkerr is India's first social trading platform.,"Manvendra Singh, Gaurav Agarwal",Accel India,6600000.0,Series A,2021
1299,Zorro,2021,Gurgaon,Social network,Pseudonymous social network platform,"Jasveer Singh, Abhishek Asthana, Deepak Kumar",Vijay Shekhar Sharma,32000000.0,Seed Stage,2021
1300,Ultraviolette,2021,Bangalore,Automotive,Create and Inspire the future of sustainable urban transportation through Accelerated Innovation.,"Subramaniam Narayan, Niraj Rajmohan",TVS Motor,150000000.0,Series C and Beyond,2021
1301,NephroPlus,2009,Hyderabad,HealthTech,"A vision and passion of redefining healthcare delivery in India in 2010, NephroPlus today is India’s largest network of dialysis centres.",Vikram Vuppala,IIFL Asset Management,24000000.0,Series C and Beyond,2021
1302,Unremot,2020,Bangalore,InfoTech & Services,Unremot is a personal office for consultants!,Shiju Radhakrishnan,Inflection Point Ventures,700000.0,Seed Stage,2021
1303,FanAnywhere,2021,Bangalore,FinTech,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar",Oasis Capital,NaN,Seed Stage,2021
1304,PingoLearn,2021,Pune,E-learning,PingoLearn offers language learning courses with snackable videos.,"Mohit Menghani, Shubham Maheshwari",Titan Capital,200000.0,unknown,2021
1305,Spry,2021,Mumbai,Music,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING VIDEOS,"Gaurav Dagaonkar, Meghna Mittal",9Unicorns,1500000.0,Seed Stage,2021
1306,Enmovil,2015,Hyderabad,InfoTech & Services,Enmovil delivers a Business Intelligence Platform driven by a connected asset ecosystem that enables organizations to maximise their operational efficiency.,"avi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund,1300000.0,Pre series A,2021
1307,ASQI Advisors,2019,Mumbai,FinTech,Bringing Blockchain technology intro mainstream finance!,Swapnil Pawar,ounders Room Capital,1000000.0,Pre series A,2021
1308,Insurance Samadhan,2018,Delhi,Insurance,The insurance industry will help in representation with the insurance companies and will help to find adequate redressal for grievances.,Deepak Bhuvenshwari Uniyal,9Unicorns,725000.0,Pre series A,2021
1309,Evenflow Brands,2020,Mumbai,Consumer Goods,Identify and partner with the upcoming eCommerce-1st brands that sell on marketplaces and have a successful track record of positive reviews & ratings,"Utsav Agarwal, Pulkit Chhabra",None,500000.0,unknown,2021
1310,MasterChow,2020,Hauz Khas,Food and Beverages,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,461000.0,Seed Stage,2021
1311,Fullife Healthcare,2009,None,Pharmaceuticals\t#REF!,Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.,Varun Khanna,Morgan Stanley Private Equity Asia,22000000.0,Series C and Beyond,2021
2701,TheCollegeFever,2015,Bangalore,Brand Marketing,"TheCollegeFever is a hub for fun, fiesta and frolic of Colleges.",None,None,250000.0,Seed Stage,2018

In [114]:
dataset.drop_duplicates(keep='first', inplace= True)
dataset.head()

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,series,year
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,NaN,unknown,2020
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem which provides state of the art technological solutions.,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,NaN,Pre-Seed Stage,2020
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-Seed Stage,2020
3,NCOME,2020,Delhi,Escrow,Escrow-as-a-service platform,itesh Tiwari,Venture Catalysts,NaN,unknown,2020
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling access to agri inputs and powering efficient farm management.,"Ashish Rajan Singh, Harshit Gupta, Nishant Mahatre, Tauseef Khan",Siana Capital Management,NaN,unknown,2020

In [116]:
print(f" There are {dataset.duplicated().sum()} duplicates")

 There are 0 duplicates